.features-list {
  @extend %list;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: -15px;
  }
}

.features-list__item {
  @media screen and (max-width: 767px) {
    width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include tablet {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@include desktop {
  flex-basis: calc((100% - 8 * 15px) / 4);
  margin: 15px;
}

.features-list__wrapper {
  @include centeredFlex;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  background-size: contain;

  @media screen and (max-width: 767px) {
    width: 450px;
  }

  @include tablet {
    width: 354px;
  }

  @include desktop {
    width: 270px;
  }
}

.features-list__title {
  @extend %title;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features-list__text {
  margin-top: 0;
  color: $secondaryTextColor;
  font-size: 14px;
  line-height: 1.71;
}
