.logo {
  font-family: $secondaryFontFamily;
  // font-size: 26px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  // line-height: 1.19;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-header__logo {
  color: #000000;
}

.logo__accent {
  color: $accentColor;
}

.page-footer__logo {
  color: $backgroundColor;

  @media screen and (max-width: 767px) {
    display: block;
    margin-right: 163px;
    margin-left: 163px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    display: block;
    margin-bottom: 20px;
  }
}
