.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
  color: $backgroundColor;
}

.footer-inner {
  // @media screen and (max-width: 767px) {
  //   display: flex;
  //   flex-wrap: wrap;
  // }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
