.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
  color: $backgroundColor;
}

.footer-inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
