.projects-lists {
  @extend %list;
  @include centeredFlex;

  margin-bottom: 50px;
}

.projects-lists__button {
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  background-color: #f5f4fa;
  color: $primaryTextColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition: color $timingFunction, background-color $timingFunction,
    box-shadow $timingFunction;

  &:hover,
  &:focus {
    color: $backgroundColor;
    background-color: $accentColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &--current:hover,
  &--current:focus {
    color: $backgroundColor;
    background-color: $accentColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-lists__item {
  margin-left: 8px;

  &:nth-child(1) {
    margin-left: 0;
  }
}
