.projects-cards {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  background-color: $backgroundColor;
}

.projects-cards__link {
  @extend %link;

  display: block;
  width: 370px;
  margin: 15px;
  transition: box-shadow $timingFunction;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-cards__thumb {
  position: relative;
  overflow: hidden;
}

.projects-cards__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: $backgroundColor;

  opacity: 0;
  transform: translateY(100%);
  transition: opacity $timingFunction, transform $timingFunction;

  .projects-cards__link:hover &,
  .projects-cards__link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects-cards__content {
  width: 370px;
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.projects-cards__title {
  margin-bottom: 4px;

  color: $primaryTextColor;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-cards__text {
  color: $secondaryTextColor;
  font-size: 16px;
  line-height: 1.87;
}
