body {
  background-color: $backgroundColor;
  color: $primaryTextColor;
  font-family: $primaryFontFamily;
  letter-spacing: 0.03em;

  &.modal-open {
    overflow: hidden;
  }
}

.icon {
  fill: currentColor;
}
